<!doctype html>
    <html>
      <head>
        <meta charset="utf-8">
        <title>About</title>
        <link rel="stylesheet" href="/stylesheets/styles.css" />
      </head>
      <body>
        <div class="navBar">
          <li><a class="home-button" href="/home">Home</a></li>
          <li><a class="works-button" href="/works">works from the God</a></li>
          <li><a class="gallery-button" href="/gallery">Wonderland</a></li>
      </div >
      <div id="aboutContent">
      <div id="leftContent">
        <h1>God</h1>
        <h2>Beyond human</h2>
        <li>Born in another galaxy</li>
        <li>Defies the laws of physics</li>
        <li>Has never cried</li>
        <li>Doesn't sleep, he waits</li>
      </div>
     <div id="rightContent">
        <img id="aboutImg"src="/images/chuck4.jpg" />
      </div>
    </div>
      
        
      </body>
    </html>