<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
</head>
<body id="home-page-body">
    <div class="navBar">
        <li><a class="about-button" href="/about">about the God</a></li>
        <li><a class="works-button" href="/works">works from the God</a></li>
        <li><a class="gallery-button" href="/gallery">Wonderland</a></li>
    </div>
    <div class="homeContent">
    <h1>Chuck the Norris</h1>
    <img id ="homeImg" src="/images/chuck2.jpg"/>
    <h2>'MURICA</h2>
</div>
 
</body>
</html>