<!doctype html>
    <html>
      <head>
        <meta charset="utf-8">
        <title>works</title>
        <link rel="stylesheet" href="/stylesheets/styles.css" />
      </head>
      <body>
        <div class="navBar">
          <li><a class="home-button" href="/home">Home</a></li>
          <li><a class="about-button" href="/about">about the God</a></li>
          <li><a class="gallery-button" href="/gallery">Wonderland</a></li>
      </div>
      <div id="workFull">
      <div id="worksContent">
        <h1>God's work</h1>
        <p>We don't deserve his work</p>
      </div>
      <div id="worksGallery" >
        <img id="worksImg1" src="/images/chuck3.jpg" />
        <img id="worksImg2"src="/images/thehitman.jpg" />
        <img id="worksImg3"src="/images/deltaforce.png" />
        
      </div>
    </div>
     
      
      </body>
    </html>